.profile-pic {
    height: 300px;
    box-shadow: 0 0 10px 1px #999;
    padding: 5px;
}

.document-container-empty {
    min-width: 200px;
    background-color: #f5f5f5;
    border: 1px dashed #888888;
}

.document-container-filled {
    min-width: 200px;
    background-color: aliceblue;
    border: 1px solid dodgerblue;
}

.document-icon-filled {
    color: dodgerblue;
}

.overflowed-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-success {
    background-color: #d4edda !important;
    color: #000000 !important;
}
.bg-light {
    background-color: #f8f9fa !important;
    color: #6c757d; /* Color gris */
}

.table-successRes td {
    background-color: white !important; /* Aseguramos que no haya color verde en la tabla de resultados */
}
.table-dark-gray-cell {
    background-color: #343a40 !important; /* Fondo gris oscuro */
    color: #000000; /* Texto negro */
    font-weight: bold; /* Texto en negritas */
}
.table-responsive {
    max-height: 300px; /* Altura máxima de la tabla */
    overflow-y: auto; /* Activar desplazamiento vertical */
}
/* En tu archivo CSS */
.oculto {
    display: none !important;
}
.blocked {
    pointer-events: none; /* Desactiva la interacción */
    opacity: 0.6; /* Visualmente indica que está bloqueado */
}

